In [1]:
import pandas as pd
import numpy as np
import pycountry
import plotly.express as px

In [ ]:
# df = pd.read_excel('salaries_dataset.xlsx')

In [2]:
df = pd.read_csv('salaries_dataset.csv')

In [3]:
df.head()

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills
0,Data Analyst,"Data Analyst, Partner Operations (Ecosystem Pa...","San Francisco, CA",via RectDuty,Full-time,False,"California, United States",2023-01-01 00:01:11,True,False,United States,hour,NaN,20.0,ByteDance,tableau
1,Data Analyst,"Data Analyst, Partner Operations (Ecosystem Pa...","San Francisco, CA",via RectDuty,Full-time,False,"California, United States",2023-01-01 00:01:11,True,False,United States,hour,NaN,20.0,ByteDance,sql
2,Data Scientist,Data Scientist,"Calabasas, CA",via Recruit.net,Full-time,False,"California, United States",2023-01-01 00:02:56,False,True,United States,year,110000.0,NaN,PlanetArt,python
3,Data Scientist,Data Scientist,"Calabasas, CA",via Recruit.net,Full-time,False,"California, United States",2023-01-01 00:02:56,False,True,United States,year,110000.0,NaN,PlanetArt,sql
4,Data Scientist,Data Scientist,"Calabasas, CA",via Recruit.net,Full-time,False,"California, United States",2023-01-01 00:02:56,False,True,United States,year,110000.0,NaN,PlanetArt,tableau

In [43]:
def convert_str_to_list(string: str | float) -> list | float:
    # avoid null values
    if not isinstance(string, float):
        return string.replace('[','')\
        .replace(']','')\
        .replace("'",'')\
        .split(', ')
    else:
        return string

In [44]:
df.loc[:, 'job_skills'] = df.job_skills.apply(convert_str_to_list)

In [45]:
df = df.explode('job_skills')

In [46]:
df.job_title_short.unique()

array(['Senior Data Scientist', 'Data Engineer', 'Senior Data Analyst',
       'Machine Learning Engineer', 'Data Scientist',
       'Senior Data Engineer', 'Data Analyst', 'Software Engineer',
       'Business Analyst', 'Cloud Engineer'], dtype=object)

In [47]:
df.head(1).T

                                                                       0
job_title_short                                    Senior Data Scientist
job_title              Senior Data Scientist Data and Analytics Perfo...
job_location                                              Bennington, NE
job_via                                                 via ZipRecruiter
job_schedule_type                                              Full-time
job_work_from_home                                                 False
search_location                                                    Sudan
job_posted_date                                      2023-04-24 09:51:15
job_no_degree_mention                                              False
job_health_insurance                                                True
job_country                                                        Sudan
salary_rate                                                         year
salary_year_avg                                                 128050.0
salary_hour_avg                                                      NaN
company_name                                          Cox Communications
job_skills                                                           sql

In [48]:
df.job_schedule_type.unique()

array(['Full-time', 'Full-time and Part-time', 'Contractor',
       'Full-time, Part-time, and Internship', 'Part-time',
       'Contractor and Temp work', nan, 'Full-time and Temp work',
       'Full-time and Contractor', 'Full-time, Contractor, and Temp work',
       'Full-time, Part-time, and Temp work',
       'Full-time, Part-time, and Contractor', 'Internship',
       'Full-time and Internship', 'Part-time and Internship',
       'Full-time and Per diem', 'Part-time and Contractor',
       'Temp work and Internship', 'Temp work',
       'Part-time, Contractor, and Temp work', 'Internship and Full-time',
       'Full-time, Part-time, and Per diem', 'Part-time and Full-time',
       'Part-time and Temp work', 'Full-time, Temp work, and Internship',
       'Full-time, Contractor, and Internship',
       'Full-time, Part-time, and Volunteer'], dtype=object)

In [49]:
def clean_job_schedule(string: str | float) -> list | float:
    if not isinstance(string, float):
        clean_string = string.replace(', and ', ', ')\
        .replace(' and ', ', ')\
        .strip()

        return clean_string.split(', ')
    else:
        return string

In [50]:
df.loc[:, 'job_schedule_type'] = df.job_schedule_type.apply(clean_job_schedule)

In [51]:
df = df.explode('job_schedule_type')

In [52]:
df.dtypes

job_title_short                  object
job_title                        object
job_location                     object
job_via                          object
job_schedule_type                object
job_work_from_home                 bool
search_location                  object
job_posted_date          datetime64[ns]
job_no_degree_mention              bool
job_health_insurance               bool
job_country                      object
salary_rate                      object
salary_year_avg                 float64
salary_hour_avg                 float64
company_name                     object
job_skills                       object
dtype: object

In [53]:
df = df.sort_values('job_posted_date').reset_index(drop = True)

In [54]:
df.to_csv('salaries_dataset.csv', index=False)

In [4]:
df.head()

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills
0,Data Analyst,"Data Analyst, Partner Operations (Ecosystem Pa...","San Francisco, CA",via RectDuty,Full-time,False,"California, United States",2023-01-01 00:01:11,True,False,United States,hour,NaN,20.0,ByteDance,tableau
1,Data Analyst,"Data Analyst, Partner Operations (Ecosystem Pa...","San Francisco, CA",via RectDuty,Full-time,False,"California, United States",2023-01-01 00:01:11,True,False,United States,hour,NaN,20.0,ByteDance,sql
2,Data Scientist,Data Scientist,"Calabasas, CA",via Recruit.net,Full-time,False,"California, United States",2023-01-01 00:02:56,False,True,United States,year,110000.0,NaN,PlanetArt,python
3,Data Scientist,Data Scientist,"Calabasas, CA",via Recruit.net,Full-time,False,"California, United States",2023-01-01 00:02:56,False,True,United States,year,110000.0,NaN,PlanetArt,sql
4,Data Scientist,Data Scientist,"Calabasas, CA",via Recruit.net,Full-time,False,"California, United States",2023-01-01 00:02:56,False,True,United States,year,110000.0,NaN,PlanetArt,tableau

In [5]:
df.job_country.unique()

array(['United States', 'Argentina', 'Switzerland', 'Sudan',
       'Netherlands', 'Malaysia', 'United Kingdom', 'France', 'Singapore',
       'Chile', 'Cyprus', 'India', 'Portugal', 'Thailand', 'Luxembourg',
       'Germany', 'Australia', 'Indonesia', 'Israel', 'Canada', 'Mexico',
       'Colombia', 'Poland', 'Philippines', 'U.S. Virgin Islands',
       'Serbia', 'Greece', 'Sweden', 'Egypt', 'Belgium', 'Hungary',
       'Denmark', 'Romania', 'Vietnam', 'United Arab Emirates', 'Finland',
       'South Africa', 'China', 'Ireland', 'Pakistan', 'Taiwan',
       'South Korea', 'Bulgaria', 'Ukraine', 'Italy', 'Puerto Rico',
       'Brazil', 'Peru', 'Japan', 'Spain', 'Croatia', 'Costa Rica',
       'Panama', 'Czechia', 'Sri Lanka', 'Guatemala', 'Guam', 'Norway',
       'New Zealand', 'Turkey', "Côte d'Ivoire", 'Estonia', 'Kenya',
       'Nigeria', 'Slovakia', 'Morocco', 'Lithuania', 'Jordan', 'Austria',
       'Hong Kong', 'Tunisia', 'Zimbabwe', 'Lebanon', 'Namibia',
       'Jamaica', 'Mauritius', 'Slovenia', 'Malta', 'Dominican Republic',
       'Montenegro', 'El Salvador', 'Azerbaijan', 'Latvia', 'Nepal',
       'Bosnia and Herzegovina', 'Albania', 'Kazakhstan', 'Armenia',
       'Nicaragua', 'Brunei', 'Bahamas', 'Macedonia (FYROM)',
       'Bangladesh', 'Uruguay', 'Bolivia', 'Paraguay', 'Venezuela',
       'Zambia', 'Russia', 'Uganda', 'Congo, Democratic Republic of the',
       'Belarus', 'Algeria', 'Honduras', 'Senegal', 'Ecuador', 'Benin',
       'Gambia', 'Cameroon', 'Cambodia', 'Ghana'], dtype=object)

In [3]:
# Crear función para convertir nombres a códigos ISO
def get_country_iso_code(country_name):
    try:
        return pycountry.countries.search_fuzzy(country_name)[0].alpha_3
    except:
        return None

In [4]:
countries_dict = {k:get_country_iso_code(k) for k in df.job_country.unique()}

In [5]:
countries_dict

{'United States': 'USA',
 'Argentina': 'ARG',
 'Switzerland': 'CHE',
 'Sudan': 'SDN',
 'Netherlands': 'NLD',
 'Malaysia': 'MYS',
 'United Kingdom': 'GBR',
 'France': 'FRA',
 'Singapore': 'SGP',
 'Chile': 'CHL',
 'Cyprus': 'CYP',
 'India': 'IND',
 'Portugal': 'PRT',
 'Thailand': 'THA',
 'Luxembourg': 'LUX',
 'Germany': 'DEU',
 'Australia': 'AUS',
 'Indonesia': 'IDN',
 'Israel': 'ISR',
 'Canada': 'CAN',
 'Mexico': 'MEX',
 'Colombia': 'COL',
 'Poland': 'POL',
 'Philippines': 'PHL',
 'U.S. Virgin Islands': None,
 'Serbia': 'SRB',
 'Greece': 'GRC',
 'Sweden': 'SWE',
 'Egypt': 'EGY',
 'Belgium': 'BEL',
 'Hungary': 'HUN',
 'Denmark': 'DNK',
 'Romania': 'ROU',
 'Vietnam': 'VNM',
 'United Arab Emirates': 'ARE',
 'Finland': 'FIN',
 'South Africa': 'ZAF',
 'China': 'CHN',
 'Ireland': 'IRL',
 'Pakistan': 'PAK',
 'Taiwan': 'TWN',
 'South Korea': 'KOR',
 'Bulgaria': 'BGR',
 'Ukraine': 'UKR',
 'Italy': 'ITA',
 'Puerto Rico': 'PRI',
 'Brazil': 'BRA',
 'Peru': 'PER',
 'Japan': 'JPN',
 'Spain': 'ESP',
 'Croatia': 'HRV',
 'Costa Rica': 'CRI',
 'Panama': 'PAN',
 'Czechia': 'CZE',
 'Sri Lanka': 'LKA',
 'Guatemala': 'GTM',
 'Guam': 'GUM',
 'Norway': 'NOR',
 'New Zealand': 'NZL',
 'Turkey': None,
 "Côte d'Ivoire": 'CIV',
 'Estonia': 'EST',
 'Kenya': 'KEN',
 'Nigeria': 'NGA',
 'Slovakia': 'SVK',
 'Morocco': 'MAR',
 'Lithuania': 'LTU',
 'Jordan': 'JOR',
 'Austria': 'AUT',
 'Hong Kong': 'HKG',
 'Tunisia': 'TUN',
 'Zimbabwe': 'ZWE',
 'Lebanon': 'LBN',
 'Namibia': 'NAM',
 'Jamaica': 'JAM',
 'Mauritius': 'MUS',
 'Slovenia': 'SVN',
 'Malta': 'MLT',
 'Dominican Republic': 'DOM',
 'Montenegro': 'MNE',
 'El Salvador': 'SLV',
 'Azerbaijan': 'AZE',
 'Latvia': 'LVA',
 'Nepal': 'NPL',
 'Bosnia and Herzegovina': 'BIH',
 'Albania': 'ALB',
 'Kazakhstan': 'KAZ',
 'Armenia': 'ARM',
 'Nicaragua': 'NIC',
 'Brunei': 'BRN',
 'Bahamas': 'BHS',
 'Macedonia (FYROM)': None,
 'Bangladesh': 'BGD',
 'Uruguay': 'URY',
 'Bolivia': 'BOL',
 'Paraguay': 'PRY',
 'Venezuela': 'VEN',
 'Zambia': 'ZMB',
 'Russia': 'RUS',
 'Uganda': 'UGA',
 'Congo, Democratic Republic of the': None,
 'Belarus': 'BLR',
 'Algeria': 'DZA',
 'Honduras': 'HND',
 'Senegal': 'SEN',
 'Ecuador': 'ECU',
 'Benin': 'BEN',
 'Gambia': 'GMB',
 'Cameroon': 'CMR',
 'Cambodia': 'KHM',
 'Ghana': 'GHA'}

In [6]:
df['country_code'] = df.job_country.apply(lambda x: countries_dict[x])

In [7]:
list(df.columns).index('job_country')

10

In [8]:
new_ordered_cols = list(df.columns[:11]) + ['country_code'] + list(df.columns[11:-1])

In [9]:
df = df[new_ordered_cols]

In [13]:
df.head()

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,country_code,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills
0,Data Analyst,"Data Analyst, Partner Operations (Ecosystem Pa...","San Francisco, CA",via RectDuty,Full-time,False,"California, United States",2023-01-01 00:01:11,True,False,United States,USA,hour,NaN,20.0,ByteDance,tableau
1,Data Analyst,"Data Analyst, Partner Operations (Ecosystem Pa...","San Francisco, CA",via RectDuty,Full-time,False,"California, United States",2023-01-01 00:01:11,True,False,United States,USA,hour,NaN,20.0,ByteDance,sql
2,Data Scientist,Data Scientist,"Calabasas, CA",via Recruit.net,Full-time,False,"California, United States",2023-01-01 00:02:56,False,True,United States,USA,year,110000.0,NaN,PlanetArt,python
3,Data Scientist,Data Scientist,"Calabasas, CA",via Recruit.net,Full-time,False,"California, United States",2023-01-01 00:02:56,False,True,United States,USA,year,110000.0,NaN,PlanetArt,sql
4,Data Scientist,Data Scientist,"Calabasas, CA",via Recruit.net,Full-time,False,"California, United States",2023-01-01 00:02:56,False,True,United States,USA,year,110000.0,NaN,PlanetArt,tableau

In [11]:
job_positions_by_country = (df.groupby(['job_country', 'country_code'])
                            .size()
                            .to_frame()
                            .rename(columns = {0: 'count'})
                            .reset_index()
)
job_positions_by_country.head()

  job_country country_code  count
0     Albania          ALB     15
1     Algeria          DZA      8
2   Argentina          ARG    255
3     Armenia          ARM     32
4   Australia          AUS    871

In [12]:
fig = px.choropleth(
    job_positions_by_country,
    locations="country_code",
    color="count",
    hover_name="job_country",
    title="Ventas por País"
)
fig.show()

In [15]:
df.columns

Index(['job_title_short', 'job_title', 'job_location', 'job_via',
       'job_schedule_type', 'job_work_from_home', 'search_location',
       'job_posted_date', 'job_no_degree_mention', 'job_health_insurance',
       'job_country', 'country_code', 'salary_rate', 'salary_year_avg',
       'salary_hour_avg', 'company_name', 'job_skills'],
      dtype='object')

In [16]:
print(*df.columns, sep='\n')

job_title_short
job_title
job_location
job_via
job_schedule_type
job_work_from_home
search_location
job_posted_date
job_no_degree_mention
job_health_insurance
job_country
country_code
salary_rate
salary_year_avg
salary_hour_avg
company_name
job_skills

In [ ]:
column_config = {
'job_title' : st.column_config.TextColumn(
    label = 'Job Position'),
 'job_location' : st.column_config.TextColumn(
     label = 'Location'),
 'job_schedule_type' : st.column_config.TextColumn(
     label = 'Schedule'),
 'job_posted_date' : st.column_config.DatetimeColumn(
     label = 'Posted on',
     format = "YYYY/MM/DD"),
 'job_no_degree_mention' : st.column_config.CheckBoxColumn(
     label = 'Degree required'),
 'job_health_insurance' : st.column_config.CheckBoxColumn(
     label = 'Health insurance'),
 'job_country' : st.st.column_config.TextColumn(
     label = 'Job country'),
 'salary_rate' : st.column_config.TextColumn(
     label = 'Salary rate'),
 'salary_year_avg' : st.column_config.NumberColumn(
     label = 'Avg yearly salary'),
 'salary_hour_avg' : st.column_config.NumberColumn(
     label = 'Avg hourly salary'),
 'company_name' : st.column_config.TextColumn(
     label = 'Company'),
 'job_skills' : st.column_config.TextColumn(
     label = 'Skills required')
}