In [40]:
import pandas as pd
import numpy as np

In [41]:
df = pd.read_excel('salaries_dataset.xlsx')

In [42]:
df.head()

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills
0,Senior Data Scientist,Senior Data Scientist Data and Analytics Perfo...,"Bennington, NE",via ZipRecruiter,Full-time,False,Sudan,2023-04-24 09:51:15,False,True,Sudan,year,128050.0,NaN,Cox Communications,"['sql', 'python', 'aws', 'pyspark', 'tableau',..."
1,Data Engineer,Data Engineer - MA,"Mesa, AZ",via Indeed,Full-time,False,Georgia,2023-03-13 12:51:23,True,True,United States,year,140000.0,NaN,Worldgate LLC,"['sql', 'nosql', 'java', 'python', 'kafka', 's..."
2,Senior Data Analyst,Supervisory Information Technology Specialist ...,"Alexandria, VA",via ZipRecruiter,Full-time,False,"New York, United States",2023-07-05 07:03:38,True,False,United States,year,156000.0,NaN,National Technical Information Service,NaN
3,Machine Learning Engineer,Machine Learning Research Scientist,"Pittsburgh, PA",via Ai-Jobs.net,Full-time,False,"Illinois, United States",2023-04-13 16:05:41,False,True,United States,year,140000.0,NaN,Bosch Group,"['pytorch', 'tensorflow']"
4,Data Scientist,"Data Scientist, AWS","Irving, TX",via Snagajob,Full-time and Part-time,False,"Texas, United States",2023-10-15 06:02:51,False,False,United States,hour,NaN,39.795002,"Presidio, Inc.","['python', 'r', 'sql', 'c', 'aws', 'gcp', 'big..."

In [43]:
def convert_str_to_list(string: str | float) -> list | float:
    # avoid null values
    if not isinstance(string, float):
        return string.replace('[','')\
        .replace(']','')\
        .replace("'",'')\
        .split(', ')
    else:
        return string

In [44]:
df.loc[:, 'job_skills'] = df.job_skills.apply(convert_str_to_list)

In [45]:
df = df.explode('job_skills')

In [46]:
df.job_title_short.unique()

array(['Senior Data Scientist', 'Data Engineer', 'Senior Data Analyst',
       'Machine Learning Engineer', 'Data Scientist',
       'Senior Data Engineer', 'Data Analyst', 'Software Engineer',
       'Business Analyst', 'Cloud Engineer'], dtype=object)

In [47]:
df.head(1).T

                                                                       0
job_title_short                                    Senior Data Scientist
job_title              Senior Data Scientist Data and Analytics Perfo...
job_location                                              Bennington, NE
job_via                                                 via ZipRecruiter
job_schedule_type                                              Full-time
job_work_from_home                                                 False
search_location                                                    Sudan
job_posted_date                                      2023-04-24 09:51:15
job_no_degree_mention                                              False
job_health_insurance                                                True
job_country                                                        Sudan
salary_rate                                                         year
salary_year_avg                                                 128050.0
salary_hour_avg                                                      NaN
company_name                                          Cox Communications
job_skills                                                           sql

In [48]:
df.job_schedule_type.unique()

array(['Full-time', 'Full-time and Part-time', 'Contractor',
       'Full-time, Part-time, and Internship', 'Part-time',
       'Contractor and Temp work', nan, 'Full-time and Temp work',
       'Full-time and Contractor', 'Full-time, Contractor, and Temp work',
       'Full-time, Part-time, and Temp work',
       'Full-time, Part-time, and Contractor', 'Internship',
       'Full-time and Internship', 'Part-time and Internship',
       'Full-time and Per diem', 'Part-time and Contractor',
       'Temp work and Internship', 'Temp work',
       'Part-time, Contractor, and Temp work', 'Internship and Full-time',
       'Full-time, Part-time, and Per diem', 'Part-time and Full-time',
       'Part-time and Temp work', 'Full-time, Temp work, and Internship',
       'Full-time, Contractor, and Internship',
       'Full-time, Part-time, and Volunteer'], dtype=object)

In [49]:
def clean_job_schedule(string: str | float) -> list | float:
    if not isinstance(string, float):
        clean_string = string.replace(', and ', ', ')\
        .replace(' and ', ', ')\
        .strip()

        return clean_string.split(', ')
    else:
        return string

In [50]:
df.loc[:, 'job_schedule_type'] = df.job_schedule_type.apply(clean_job_schedule)

In [51]:
df = df.explode('job_schedule_type')

In [52]:
df.dtypes

job_title_short                  object
job_title                        object
job_location                     object
job_via                          object
job_schedule_type                object
job_work_from_home                 bool
search_location                  object
job_posted_date          datetime64[ns]
job_no_degree_mention              bool
job_health_insurance               bool
job_country                      object
salary_rate                      object
salary_year_avg                 float64
salary_hour_avg                 float64
company_name                     object
job_skills                       object
dtype: object

In [53]:
df = df.sort_values('job_posted_date').reset_index(drop = True)

In [54]:
df.to_csv('salaries_dataset.csv', index=False)

In [55]:
df.head()

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills
0,Data Analyst,"Data Analyst, Partner Operations (Ecosystem Pa...","San Francisco, CA",via RectDuty,Full-time,False,"California, United States",2023-01-01 00:01:11,True,False,United States,hour,NaN,20.0,ByteDance,tableau
1,Data Analyst,"Data Analyst, Partner Operations (Ecosystem Pa...","San Francisco, CA",via RectDuty,Full-time,False,"California, United States",2023-01-01 00:01:11,True,False,United States,hour,NaN,20.0,ByteDance,sql
2,Data Scientist,Data Scientist,"Calabasas, CA",via Recruit.net,Full-time,False,"California, United States",2023-01-01 00:02:56,False,True,United States,year,110000.0,NaN,PlanetArt,python
3,Data Scientist,Data Scientist,"Calabasas, CA",via Recruit.net,Full-time,False,"California, United States",2023-01-01 00:02:56,False,True,United States,year,110000.0,NaN,PlanetArt,sql
4,Data Scientist,Data Scientist,"Calabasas, CA",via Recruit.net,Full-time,False,"California, United States",2023-01-01 00:02:56,False,True,United States,year,110000.0,NaN,PlanetArt,tableau